Repository dhalem/claude_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-warning, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests, project-tests

Path conditions:
  mypy-warning: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  no-print-statements: any of: \.py$ and not (^(scripts/|tools/|debug|tests/|.*test.*\.py|setup\.py|hooks/|indexing/|reviewer/)) and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-breakpoints: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  check-eval-usage: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  check-exec-usage: any of: \.py$ and not (^(tests/|migrations/)) and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-assert-statements: any of: \.py$ and not ((tests/|test_|_test\.py$|\.test\.py$|/test_.*\.py$)) and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-hardcoded-passwords: any of: \.py$ and not (^(tests/|.*test.*\.py|.*example.*|.*template.*)) and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$
)
  check-sql-string-formatting: any of: \.py$ and not (^(migrations/|tests/|.*test.*\.py)) and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$
)
  check-executables-have-shebangs: any of: .*, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  check-merge-conflict-markers: any of: not (^(\.pre-commit-config\.yaml)$), but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  check-empty-files: any of: not (^(__init__\.py|\.gitkeep|\.keep)$), but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  python-hooks-tests: any of: ^hooks/python/.*\.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$

  project-tests: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  .*\.min\.js|
  .*\.min\.css|
  .*\.jpg|
  .*\.jpeg
)$


feat: implement mandatory full test suite enforcement with zero exceptions
  .pre-commit-config.yaml
  CLAUDE.md
  run_tests.sh
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add test script integrity guard
  hooks/HOOKS.md
  hooks/TEST_PROTECTION_SYSTEM_DESIGN.md
  hooks/test-script-integrity-guard.sh
  hooks/test_debug.sh
  hooks/test_final.sh
  hooks/test_manual.sh
  hooks/test_script_integrity_guard_final.sh
  hooks/test_simple.sh
  hooks/test_working.sh
  hooks/tests/test_test_script_integrity_guard.sh
  hooks/verify_test_script_integrity_guard.sh
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: resolve subprocess pipe deadlock in MCP integration tests
  .pre-commit-config.yaml
  run_tests.sh
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

docs: comprehensive update with subprocess deadlock lessons
  CLAUDE.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: add postmortem for fast mode implementation violation
  POSTMORTEM_FAST_MODE_VIOLATION_20250121.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: add comprehensive remediation plan for hooks system
  REMEDIATION_PLAN_20250121_HOOKS.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: add pytest timeout markers for MCP integration tests
  CLAUDE.md
  hooks/DOCS.md
  hooks/README.md
  hooks/precommit-protection-guard.sh
  hooks/settings.json
  hooks/test-script-integrity-guard.sh
  hooks/update-settings.py
  run_tests.sh
  test_mcp_quick.sh
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

docs: add hooks safety and test coverage remediation plan
  REMEDIATION_PLAN_HOOKS_20250121.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: remove hardcoded paths from hooks test scripts
  hooks/python/pytest.ini
  hooks/settings_simple.json
  hooks/test_manual.sh
  hooks/test_override.sh
  hooks/test_script_integrity_guard_final.sh
  hooks/test_simple.sh
  hooks/tests/test_integration_simple.sh
  hooks/tests/test_protection_guards_integration.sh
  hooks/verify_precommit_protection_guard.sh
  hooks/verify_test_script_integrity_guard.sh
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add code review remediation plan for hooks directory security
  REMEDIATION_PLAN_CODE_REVIEW_20250121.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: remove hardcoded API key from MetaCognitiveGuard test runner
  hooks/python/run_meta_cognitive_tests.sh
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

refactor: remove redundant test scripts for guards
  hooks/test_final.sh
  hooks/test_manual.sh
  hooks/test_override.sh
  hooks/test_simple.sh
  hooks/test_working.sh
  hooks/tests/test_test_script_integrity_guard.sh
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: remove unused variables from shell guards (shellcheck)
  hooks/parse_claude_input.py
  hooks/precommit-protection-guard.sh
  hooks/test-script-integrity-guard.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add Python packaging and mandatory commit completion protocol
  .pre-commit-config.yaml
  CLAUDE.md
  hooks/python/MANIFEST.in
  hooks/python/README.md
  hooks/python/pyproject.toml
  hooks/python/requirements.txt
  hooks/python/setup.py
  hooks/python/tests/FULL_TEST_COVERAGE_REPORT.md
  hooks/python/tests/TEST_COVERAGE.md
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests, project-tests

feat: add comprehensive duplicate prevention implementation plans
  CLAUDE.md
  DETAILED_IMPLEMENTATION_PLAN_PHASES_2-4.md
  REALTIME_DUPLICATE_PREVENTION_PROPOSAL.md
  REMEDIATION_PLAN_HOOKS_SECURITY_20250121.md
  TDD_DUPLICATE_PREVENTION_IMPLEMENTATION_PLAN.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add Qdrant database connection with health monitoring
  duplicate_prevention/GREEN_PHASE_SUCCESS_RESULTS.md
  duplicate_prevention/RED_PHASE_TEST_RESULTS.md
  duplicate_prevention/REFACTOR_PHASE_COMPLETE.md
  duplicate_prevention/__init__.py
  duplicate_prevention/config.py
  duplicate_prevention/database.py
  duplicate_prevention/docker-compose.yml
  duplicate_prevention/requirements.txt
  duplicate_prevention/tests/__init__.py
  duplicate_prevention/tests/unit/__init__.py
  duplicate_prevention/tests/unit/test_database_connection.py
  run_tests.sh
Due: mypy-warning, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add comprehensive Test Validation MCP implementation design
  TEST_VALIDATION_MCP_IMPLEMENTATION_DESIGN.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add comprehensive TDD implementation plan for Test Validation MCP
  TEST_VALIDATION_MCP_TDD_IMPLEMENTATION_PLAN.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat(test-validation): implement Phase 1.1 database schema with TDD approach
  indexing/test_validation/.gitignore
  indexing/test_validation/README.md
  indexing/test_validation/__init__.py
  indexing/test_validation/database/__init__.py
  indexing/test_validation/database/manager.py
  indexing/test_validation/requirements.txt
  indexing/test_validation/server/__init__.py
  indexing/test_validation/tests/__init__.py
  indexing/test_validation/utils/__init__.py
  tests/unit/test_validation_mcp/__init__.py
  tests/unit/test_validation_mcp/test_database_schema.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat(test-validation): implement Phase 1.2 connection management with thread safety
  indexing/test_validation/database/manager.py
  tests/unit/test_validation_mcp/test_database_connections.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: implement comprehensive Test Validation MCP utilities
  indexing/test_validation/utils/config.py
  indexing/test_validation/utils/fingerprinting.py
  indexing/test_validation/utils/tokens.py
  requirements-dev.txt
  tests/unit/test_validation_mcp/test_config.py
  tests/unit/test_validation_mcp/test_fingerprinting.py
  tests/unit/test_validation_mcp/test_tokens.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

fix: resolve all integration test failures for Test Validation MCP
  TEST_VALIDATION_MCP_DETAILED_SPECIFICATION.md
  indexing/test_validation/database/manager.py
  tests/__init__.py
  tests/e2e/__init__.py
  tests/integration/__init__.py
  tests/integration/test_validation_mcp/__init__.py
  tests/integration/test_validation_mcp/test_database_integration.py
  tests/integration/test_validation_mcp/test_workflow_integration.py
  tests/unit/__init__.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add Qdrant collection management with dual API design
  duplicate_prevention/database.py
  duplicate_prevention/requirements.txt
  duplicate_prevention/tests/unit/test_collection_management.py
  duplicate_prevention/tests/unit/test_collection_management_strict.py
Due: mypy-warning, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat(tests): fix connection timeout tests and document git timeout config
  .pre-commit-config.yaml
  CLAUDE.md
  duplicate_prevention/ARCHITECTURE.md
  duplicate_prevention/DEBUGGING_GUIDE.md
  duplicate_prevention/DUPLICATE_PREVENTION_TEST_PLAN.md
  duplicate_prevention/README.md
  duplicate_prevention/tests/unit/test_collection_management.py
  duplicate_prevention/tests/unit/test_collection_management_strict.py
  duplicate_prevention/tests/unit/test_database_connection.py
  duplicate_prevention/tests/unit/test_path_translation.py
  duplicate_prevention/tests/unit/test_self_similarity.py
  duplicate_prevention/tests/unit/test_vector_operations.py
  duplicate_prevention/tests/unit/test_vector_operations_strict.py
  hooks/python/hooks/scripts/pre-commit-duplicate-check.sh
  hooks/python/tests/test_duplicate_prevention_guard.py
  hooks/python/tests/test_precommit_duplicate_prevention.py
  hooks/scripts/pre-commit-duplicate-check.sh
  hooks/settings.json
  run_duplicate_prevention_tests.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests, project-tests

feat: implement A1.4 embedding generation system for duplicate prevention
  .env.development
  CLAUDE.md
  POSTMORTEM_MCP_SYSTEM_FAILURE_20250123.md
  debug_js.py
  debug_js2.py
  duplicate_prevention/A1_1_PROJECT_TRACKING.md
  duplicate_prevention/database.py
  duplicate_prevention/embedding_generator.py
  duplicate_prevention/requirements.txt
  duplicate_prevention/tests/unit/test_embedding_generation.py
  duplicate_prevention/tests/unit/test_vector_operations_strict.py
  indexing/.lsp/pylsp_config.json
  indexing/pyrightconfig.json
  test_review_dir/example.py
  test_review_dir/utils.js
  test_tty.py
  tests/test_mcp_integration.py
Due: mypy-warning, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat(tests): fix critical test isolation issue in duplicate prevention
  duplicate_prevention/tests/unit/test_vector_operations_strict.py
  hooks/python/guards/duplicate_prevention_guard.py
  hooks/python/tests/test_duplicate_prevention_guard.py
  hooks/python/tests/test_precommit_duplicate_prevention.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests, project-tests

feat: add comprehensive Qdrant vector operations with dual API design
  duplicate_prevention/database.py
  duplicate_prevention/requirements.txt
  duplicate_prevention/tests/unit/test_vector_operations.py
  duplicate_prevention/tests/unit/test_vector_operations_strict.py
  tests/test_mcp_integration.py
Due: mypy-warning, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

docs: add comprehensive duplicate prevention setup instructions
  README.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: complete Test Validation MCP server with 4-stage validation pipeline
  indexing/test_validation/database/manager.py
  indexing/test_validation/mcp/__init__.py
  indexing/test_validation/mcp/server.py
  pytest.ini
  requirements-dev.txt
  tests/unit/test_validation_mcp/test_approve_test_tool.py
  tests/unit/test_validation_mcp/test_database_connections.py
  tests/unit/test_validation_mcp/test_database_schema.py
  tests/unit/test_validation_mcp/test_design_test_tool.py
  tests/unit/test_validation_mcp/test_mcp_server.py
  tests/unit/test_validation_mcp/test_validate_implementation_tool.py
  tests/unit/test_validation_mcp/test_verify_breaking_behavior_tool.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add Claude agents backup system with git version control
  backup-agents.sh
  claude-agents-backup/code-review-remediator.md
  claude-agents-backup/git-commit-handler.md
  claude-agents-backup/test-coverage-analyzer.md
  claude-agents-backup/test-integrity-auditor.md
  restore-agents.sh
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix(tests): comprehensive test suite fixes for MCP and database integration
  indexing/src/gemini_client.py
  indexing/test_validation/database/manager.py
  tests/integration/test_validation_mcp/test_database_integration.py
  tests/integration/test_validation_mcp/test_workflow_integration.py
  tests/test_mcp_installation.py
  tests/unit/test_validation_mcp/test_database_schema.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add analyze_files tool with comprehensive flexible analysis capabilities
  indexing/MCP_SERVER_USAGE.md
  indexing/mcp_review_server.py
  indexing/src/analysis_formatter.py
  indexing/src/base_formatter.py
  indexing/src/file_collector.py
  indexing/src/review_formatter.py
  indexing/tests/test_analysis_formatter.py
  indexing/tests/test_base_formatter.py
  indexing/tests/test_file_collector_specific.py
  indexing/tests/test_mcp_analyze_files_real.py
  indexing/tests/test_performance_baseline.py
  indexing/tests/test_review_code_baseline.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests

feat: add Discord Stop hook for session completion notifications
  hooks/HOOKS.md
  hooks/discord-stop-hook.py
  hooks/settings.json
  hooks/test-discord-webhook.py
  pyproject.toml
  safe_install.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, project-tests
