Repository dhalem/claude_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-warning, hadolint, safety-check, no-print-statements, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-png-files, check-binary-files, dockerfile-no-latest, check-env-vars, validate-json-syntax, requirements-txt-sorted, requirements-txt-pinned, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, check-syncer-index-sync, check-gemini-index-sync, python-hooks-tests, sonos-server-test-suite, mcp-server-test-suite

mypy-warning:
  name: MyPy Type Checking (Warning Mode)
  entry: bash -c 'mypy --config-file=pyproject.toml --no-error-summary . || true'
  language: system
  fail_fast: false
  verbose: true
  pass_filenames: false

hadolint:
  name: Lint Dockerfiles with hadolint
  entry: /home/dhalem/.local/bin/hadolint
  language: system
  args:
  - --ignore
  - DL3008
  - --ignore
  - DL3013
  - --ignore
  - DL3015
  - --ignore
  - DL3009
  - --ignore
  - DL3007
  verbose: true

safety-check:
  name: Check for security vulnerabilities
  entry: bash -c 'find . -name "requirements*.txt" -type f | head -5 | xargs -I {} timeout 30 ~/.local/bin/safety check --file {} --continue-on-error || true'
  language: system
  verbose: true

no-print-statements:
  name: Check for print statements
  entry: ^\s*print\(
  language: pygrep
  verbose: true

no-breakpoints:
  name: Check for debugging breakpoints
  entry: (breakpoint\(\)|import pdb|pdb\.set_trace|import ipdb|ipdb\.set_trace)
  language: pygrep
  verbose: true

check-eval-usage:
  name: Check for eval() usage
  entry: \beval\s*\(
  language: pygrep
  verbose: true

check-exec-usage:
  name: Check for exec() usage
  entry: \bexec\s*\(
  language: pygrep
  verbose: true

no-assert-statements:
  name: Check for assert statements in production
  entry: \bassert\s+
  language: pygrep
  verbose: true

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (password|passwd|pwd|secret|token|api_key)\s*=\s*["'][^"']+["']
  language: pygrep
  verbose: true

check-sql-string-formatting:
  name: Check for SQL injection risks
  entry: (SELECT|INSERT|UPDATE|DELETE|DROP|CREATE|ALTER).*(%s|\.format|f"|f')
  language: pygrep
  verbose: true

check-png-files:
  name: Check PNG files
  entry: bash -c 'echo "ERROR PNG files should not be committed to the repository. Use external storage or documentation repos for images." && exit 1'
  language: system
  verbose: true

check-binary-files:
  name: Prevent large binary files
  entry: bash -c 'echo "ERROR Binary files (${1##*.}) should not be committed. Use Git LFS or external storage." && exit 1'
  language: system
  verbose: true

dockerfile-no-latest:
  name: Check Dockerfile for latest tags
  entry: FROM.*:latest
  language: pygrep
  verbose: true

check-env-vars:
  name: Check for hardcoded env vars
  entry: export\s+(AWS_|GITHUB_|SLACK_|TOKEN|KEY|SECRET|PASSWORD|API_)
  language: pygrep
  verbose: true

validate-json-syntax:
  name: Validate JSON syntax
  entry: python3 -m json.tool
  language: system
  verbose: true

requirements-txt-sorted:
  name: Sort requirements.txt
  entry: bash -c 'for f in "$@"; do sort -c "$f" || (echo "ERROR $f is not sorted" && exit 1); done'
  language: system
  verbose: true

requirements-txt-pinned:
  name: Check requirements are pinned (WARNING)
  entry: bash -c 'grep -E "(>=|~=|<|>)" "$@" && echo "WARNING Unpinned requirements found (consider pinning for reproducibility)" || exit 0'
  language: system
  verbose: true

feat: add comprehensive hook development environment
  .github/workflows/hooks-ci.yml
  DEVELOPMENT.md
  hooks/python/requirements-dev.txt
  pyproject.toml
  setup-development.sh
Due: check-env-vars, requirements-txt-sorted, requirements-txt-pinned, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: add hook development section to README
  README.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add copy-paste prompts for easy getting started
  README.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: add comprehensive hook override system documentation
  hooks/OVERRIDE_SYSTEM.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add comprehensive Google Authenticator setup system
  hooks/AUTHENTICATOR_SETUP.md
  hooks/OVERRIDE_SYSTEM.md
  hooks/README.md
  hooks/python/requirements-dev.txt
  hooks/setup-authenticator.sh
  requirements-dev.txt
Due: safety-check, check-env-vars, requirements-txt-sorted, requirements-txt-pinned, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: update template with latest Spotidal safety improvements
  .pre-commit-config.yaml
  CLAUDE.md
  hooks/install-hooks-python-only.sh
  hooks/python/guards/__init__.py
  hooks/python/guards/assumption_detection_guard.py
  hooks/python/guards/false_success_guard.py
  hooks/python/guards/rule_zero_guard.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests

fix: add missing unittest.mock import
  .pre-commit-config.yaml
  README.md
  hooks/AUTHENTICATOR_SETUP.md
  hooks/OVERRIDE_SYSTEM.md
  hooks/adaptive-guard.sh
  hooks/install-hooks-python-only.sh
  hooks/python/base_guard.py
  hooks/python/main.py
  hooks/python/tests/test_base_guard.py
  hooks/setup-authenticator.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests

fix: allow cat commands that pipe to python while excluding others
  hooks/python/guards/python_venv_guard.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, python-hooks-tests

fix: remove remaining Spotidal-specific references
  indexing/code_indexer_treesitter.py
  indexing/search_code.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add MCP code-search server with comprehensive tests
  indexing/install_mcp_code_search.sh
  indexing/mcp_search_server.py
  indexing/test_installed_mcp_search.sh
  indexing/test_mcp_search_server.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

fix: properly configure MCP code-search server
  indexing/MCP_SERVER_GUIDE.md
  indexing/install_mcp_code_search.sh
  indexing/install_mcp_code_search_proper.sh
  indexing/mcp_search_server.py
  indexing/test_mcp_full.py
  indexing/test_mcp_manual.py
  indexing/verify_mcp_installation.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

refactor: consolidate and test MCP servers after comprehensive code review
  indexing/experimental/README.md
  indexing/experimental/code_indexer_treesitter.py
  indexing/fix_code_search_venv.sh
  indexing/install_mcp_code_search.sh
  indexing/install_mcp_code_search_proper.sh
  indexing/mcp_search_server_old.py
  indexing/src/__init__.py
  indexing/src/code_searcher.py
  indexing/src/gemini_client.py
  indexing/src/gemini_client_requests.py
  indexing/test_installed_mcp_search.sh
  indexing/test_mcp_code_review_server.py
  indexing/test_mcp_full.py
  indexing/test_mcp_manual.py
  indexing/tests/test_mcp_search_server.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

feat: comprehensive unit test coverage and code quality improvements
  indexing/code_indexer.py
  indexing/mcp_search_server_old.py
  indexing/setup_code_indexing.sh
  indexing/src/file_collector.py
  indexing/src/gemini_client_requests.py
  indexing/src/review_formatter.py
  indexing/tests/test_code_indexer.py
  indexing/tests/test_file_collector_fixed.py
  indexing/tests/test_mcp_search_server.py
  indexing/tests/test_review_formatter.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

feat: integrate indexing tests into pre-commit hooks and main test suite
  pytest.ini
  run_tests.sh
Due: check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

test: verify indexing tests run in pre-commit hooks
  indexing/tests/test_file_collector_fixed.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: simplify main project tests in root test runner to avoid missing dependencies
  run_tests.sh
Due: check-env-vars, check-executables-have-shebangs, check-empty-files

fix: correct file path calculation in FileCollector for external workspaces
  indexing/src/file_collector.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: correct gitignore pattern matching in FileCollector
  indexing/src/file_collector.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add central MCP installation and comprehensive tests
  indexing/diagnose_mcp_server.py
  indexing/tests/test_file_collector_fixed.py
  indexing/tests/test_mcp_search_server.py
  install-mcp-servers.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

feat: add MCP server cleanup script
  cleanup-mcp-servers.sh
Due: check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: simplify import logic in MCP review server
  indexing/mcp_review_server.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

fix: simplify import logic in both MCP servers
  indexing/mcp_search_server.py
  install-mcp-servers.sh
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

feat: fix MCP server testing and directory structure validation
  indexing/tests/test_mcp_search_server.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

docs: add comprehensive MCP server testing documentation
  CLAUDE.md
  README.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: properly handle empty MCP configuration in tests
  .pre-commit-config.yaml
  test_mcp_quick.sh
  test_mcp_target.py
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add comprehensive MCP installation tests and implement fast pre-commit mode
  .pre-commit-config.yaml
  CLAUDE.md
  install-mcp-central.sh
  run_tests.sh
  tests/test_mcp_installation.py
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: resolve hanging MCP installation tests and integration test timeouts
  .pre-commit-config.yaml
  run_tests.sh
  tests/test_mcp_installation.py
  tests/test_mcp_integration.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-env-vars, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: add comprehensive MCP server usage guide
  CLAUDE.md
  indexing/MCP_SERVER_USAGE.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: enhance README with comprehensive MCP server documentation
  MCP_INSTALLATION_PROMPT.md
  README.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

docs: install comprehensive MCP server usage guide into CLAUDE.md
  CLAUDE.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add comprehensive review remediation plan template
  REVIEW_REMEDIATION_TEMPLATE.md
Due: check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

fix: resolve fatal bug in claude_code_search.py with non-existent method calls
  indexing/claude_code_search.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

refactor: add convenience methods to CodeSearcher for API consistency
  indexing/claude_code_search.py
  indexing/src/code_searcher.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add comprehensive GeminiClient test suite
  REMEDIATION_PLAN_20250119_INDEXING.md
  indexing/tests/test_gemini_client.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

feat: add direct function tests for MCP server tool handlers
  REMEDIATION_PLAN_20250119_INDEXING.md
  indexing/tests/test_mcp_servers_direct.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files, mcp-server-test-suite

fix: correct gitignore pattern matching boundary logic
  REMEDIATION_PLAN_20250119_INDEXING.md
  indexing/src/file_collector.py
  indexing/tests/test_file_collector_fixed.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

WIP: MCP test failure investigation and postmortem
  CLAUDE.md
  POSTMORTEM_MCP_TEST_FAILURE_20250119.md
  REMEDIATION_PLAN_20250119_INDEXING.md
  indexing/MCP_SERVER_GUIDE.md
  indexing/code_indexer.py
  indexing/src/code_searcher.py
  indexing/src/file_collector.py
  indexing/src/gemini_client.py
  indexing/src/review_formatter.py
Due: mypy-warning, no-breakpoints, check-eval-usage, check-exec-usage, no-assert-statements, no-hardcoded-passwords, check-sql-string-formatting, check-executables-have-shebangs, check-merge-conflict-markers, check-empty-files

Path conditions:
  mypy-warning: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  hadolint: any of: ^.*Dockerfile.*$ and not (^archive/) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  safety-check: any of: ^requirements.*\.txt$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  no-print-statements: any of: \.py$ and not (^(scripts/|tools/|debug|tests/|.*test.*\.py|setup\.py|hooks/|indexing/|.*check_index_sync\.py)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-breakpoints: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-eval-usage: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-exec-usage: any of: \.py$ and not (^(tests/|migrations/)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-assert-statements: any of: \.py$ and not ((tests/|test_|_test\.py$|\.test\.py$|/test_.*\.py$)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  no-hardcoded-passwords: any of: \.py$ and not (^(tests/|.*test.*\.py|.*example.*|.*template.*)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  check-sql-string-formatting: any of: \.py$ and not (^(migrations/|tests/|.*test.*\.py|.*integration_tests/|.*sonos_discovery\.py|syncer/spotify\.py|syncer/tidal\.py)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  check-png-files: any of: \.png$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-binary-files: any of: \.(mp3|mp4|avi|mov|wav|flac|zip|tar|gz|rar|7z|exe|dmg|iso|bin|dat)$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  dockerfile-no-latest: any of: Dockerfile.*, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-env-vars: any of: \.(sh|bash|zsh)$ and not (^(scripts/example|templates/)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$
)
  validate-json-syntax: any of: \.json$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  requirements-txt-sorted: any of: requirements.*\.txt$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  requirements-txt-pinned: any of: requirements.*\.txt$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-executables-have-shebangs: any of: .*, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-merge-conflict-markers: any of: not (^(\.pre-commit-config\.yaml|.*run_full_test_suite\.sh|.*run.*tests?\.sh|indexing/mcp/.*\.sh)$), but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-empty-files: any of: not (^(__init__\.py|\.gitkeep|\.keep)$), but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-syncer-index-sync: any of: ^syncer/.*, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  check-gemini-index-sync: any of: ^gemini_playlist_suggester/.*, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  python-hooks-tests: any of: ^hooks/python/.*\.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  sonos-server-test-suite: any of: ^sonos_server/.*\.(py|sh)$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

  mcp-server-test-suite: any of: ^indexing/.*mcp.*\.(py|sh)$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  build/|
  dist/|
  .*\.egg-info/|
  temp/|
  archive/|
  node_modules/|
  test-screenshots/|
  .*\.min\.js|
  .*\.min\.css|
  syncer_v2/|
  mobile_.*\.json|
  .*\.jpg|
  .*\.jpeg
)$

